@using UmbracoCommunity.Web.Models.Pages
@model ReleasePageViewModel

<div class="empty-state">
    <h3>Pre-release Version</h3>
    <p>This is a pre-release version for <strong>@Model.Repository v@(Model.StableVersion)</strong>.</p>
    <p>
        More details are available in the 
        <a href="/release/@Model.Organization/@Model.Repository/@Model.StableVersion"
           class="stable-release-link">
            <uui-badge color="positive" look="primary">v@(Model.StableVersion) Release Notes</uui-badge>
        </a>
    </p>        
</div>