@using UmbracoCommunity.Web.Models.Pages
@using UmbracoCommunity.Web.Features.ReleaseOverview.Models
@model ReleasesHomePageViewModel

@if (Model.AvailableReleases.Any())
{
    @foreach (var releaseGroup in Model.Releases)
    {
        <div class="release-group">
            @await Html.PartialAsync("~/Views/Partials/ReleaseOverview/_ReleaseNotesHeader.cshtml", new ReleaseNotesHeaderViewModel
            {
                ReleaseInfo = Model.ReleaseInfo,
                SelectedRepo = Model.SelectedRepo,
                ReleaseGroup = releaseGroup
            })

            @await Html.PartialAsync("~/Views/Partials/ReleaseOverview/_ContributorsSection.cshtml", new ContributorsSectionViewModel
            {
                ReleaseGroup = releaseGroup,
                SelectedRepo = Model.SelectedRepo
            })

            @await Html.PartialAsync("~/Views/Partials/ReleaseOverview/_ReleaseCategories.cshtml", new ReleaseCategoriesViewModel
            {
                ReleaseGroup = releaseGroup,
                UmbracoLogoPath = Model.UmbracoLogoPath,
                LabelCheck = Model.LabelCheck
            })
        </div>
    }
}
else
{
    <p>No releases found with <code>release/*</code> labels for this repository.</p>
}
