@using UmbracoCommunity.Web.Models.Pages
@using UmbracoCommunity.Web.Features.ReleaseOverview.Models
@model ReleasePageViewModel

@if (Model.Release != null)
{
    <div class="release-group">
        @await Html.PartialAsync("~/Views/Partials/ReleaseOverview/_ReleaseNotesHeader.cshtml", new ReleaseNotesHeaderViewModel
        {
            ReleaseInfo = Model.ReleaseInfo,
            SelectedRepo = Model.Repository,
            ReleaseGroup = Model.Release,
            NuGetPackageId = Model.NuGetPackageId
        })

        @if (Model.IsPreRelease)
        {
            @await Html.PartialAsync("~/Views/Partials/ReleaseOverview/_PreReleaseNotice.cshtml", Model)
        }

        @await Html.PartialAsync("~/Views/Partials/ReleaseOverview/_ContributorsSection.cshtml", new ContributorsSectionViewModel
        {
            ReleaseGroup = Model.Release,
            SelectedRepo = Model.Repository
        })

        @await Html.PartialAsync("~/Views/Partials/ReleaseOverview/_ReleaseCategories.cshtml", new ReleaseCategoriesViewModel
        {
            ReleaseGroup = Model.Release,
            UmbracoLogoPath = "/img/umbraco_logo.png",
            LabelCheck = Model.LabelCheck
        })
    </div>
}
else if (Model.ReleaseInfo != null)
{
    @* Selected release has no PRs/Issues, but show the header and empty state *@
    <div class="release-group">
        @await Html.PartialAsync("~/Views/Partials/ReleaseOverview/_ReleaseNotesHeader.cshtml", new ReleaseNotesHeaderViewModel
        {
            ReleaseInfo = Model.ReleaseInfo,
            SelectedRepo = Model.Repository,
            ReleaseGroup = null,
            NuGetPackageId = Model.NuGetPackageId
        })

        @if (Model.IsPreRelease)
        {
            @await Html.PartialAsync("~/Views/Partials/ReleaseOverview/_PreReleaseNotice.cshtml", Model)
        }

        <div class="release-categories">
            <div class="empty-state">
                <p>No related PRs or issues found on GitHub, more information might be available here: <a href="https://github.com/@Model.Organization/@Model.Repository/releases/tag/release-@(Model.ReleaseInfo.Version)" target="_blank">https://github.com/@Model.Organization/@Model.Repository/releases/tag/release-@(Model.ReleaseInfo.Version)</a></p>
            </div>
        </div>
    </div>
}
else
{
    <div class="empty-state">
        <p>No release information found for <strong>@Model.Repository v@Model.Version</strong></p>
    </div>
}
