/* ideally this would be a custom forms theme, but then it's separated from
the rest of the front-end build, which is a little annoying. 
Let's throw CSS at it, and not stress the small stuff */

@import "./input.css";
@import "./checkboxlist.css";
@import "./validation.css";
@import "./navigation.css";

/* matches max-width of inputs */
.umbraco-forms-page {
  max-width: 400px;
  margin: 0 auto;

  color: var(--block-text-color);

  a {
    color: var(--block-link-color);
  }
}

.umbraco-forms-field {
  position: relative;

  & ~ & {
    margin-top: var(--unit-sm);
  }
}

.umbraco-forms-form {
  &.umbraco-forms-default {
    padding: 0;
    margin:0 auto;
  }

  .umbraco-forms-fieldset {
    margin: 0;
    padding: 0;
  }

  /* matches dc-title-teaser styles */
  .umbraco-forms-caption {
    margin: 0 0 var(--unit);
    font-size: 38px !important;
    line-height: 49px !important;
    font-weight: 400;
  }

  fieldset.umbraco-forms-field {
    padding: 0;
    margin-bottom: 0;

    .umbraco-forms-legend {
      font-size: var(--unit);
      padding: 0;
      line-height: 1.6;
    }
  }
}

.umbraco-forms-tooltip {
  line-height: 1.3;
  display: block;
  margin-bottom: var(--unit-xs);
  font-size: var(--font-size-sm);
}