@import "../base/media-queries.css";

.dc-big-cta-block {
  position: relative;
  display: grid;
  align-items: center;
  border-radius: 20px;
  overflow: hidden;
}

.dc-big-cta-block img {
  filter: brightness(60%);
  width: 100%;
  height: 100%;;
  object-fit: cover;
}

.dc-big-cta-block svg {
  width: 100%;
  height: 100%;
}

.dc-big-cta-block .svg-desktop {
  display: none;
}

.dc-big-cta-block .svg-mobile {
  display: block;
}

.dc-big-cta-block__content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
  padding: 1.5rem;
  z-index: 1;
}

.dc-big-cta-block__content .content-links {
  text-align: center;
}

.dc-big-cta-block__background {
  height: 100%;
}

.dc-big-cta-block__background,
.dc-big-cta-block__content {
  grid-column: 1/2;
  grid-row: 1/2;
}

.dc-big-cta-block__content.image h2,
.dc-big-cta-block__content.image p,
.dc-big-cta-block__content.color h2,
.dc-big-cta-block__content.color p {
  color: var(--color-white);
}

.dc-big-cta-block__content h2 {
  color: var(--color-blue);
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 45px; /* 112.5% */
  margin: 0;
}

.dc-big-cta-block__content p {
  color: var(--color-blue);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px; /* 131.25% */
  padding: 1.25rem 0 0 0;
  margin: 0;
}

.dc-big-cta-block__content.align-center p {
  text-align: center;
}

.dc-big-cta-block__content.align-left .block-title {
  align-self: flex-start;
}

.dc-big-cta-block__content .content-links {
  margin-top: var(--unit-md);
}

.dc-big-cta-block__content .content-links:has(a):has(.block-subtitle) {
  margin-top: 0;
}

.dc-big-cta-block__content .btn {
  margin-top: 1.25rem;
}

@media (--xs){
  .dc-big-cta-block__background {
    max-height: 440px;
  }
}

@media (--sm) {
  .dc-big-cta-block .svg-desktop {
    display: block;
  }

  .dc-big-cta-block .svg-mobile {
    display: none;
  }

  .dc-big-cta-block__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: unset;
    padding: 2.5rem 2rem;
  }

  .dc-big-cta-block__content h2 {
    max-width: 1100px;
    text-align: left;
    font-size: 60px;
    font-weight: 400;
    line-height: 65px; /* 106.25% */
  }

  .dc-big-cta-block__content p {
    max-width: 590px;
    text-align: left;
    font-size: 20px;
    font-weight: 400;
    line-height: 25px; /* 125% */
  }

  .dc-big-cta-block__content.align-center {
    align-items: center;
  }

  .dc-big-cta-block__content.align-center > div,
  .dc-big-cta-block__content.align-center > div {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .dc-big-cta-block__content.align-center h2,
  .dc-big-cta-block__content.align-center p {
    text-align: center;
  }

  .dc-big-cta-block__content.image,
  .dc-big-cta-block__content.color {
    justify-content: center;
  }

  .dc-big-cta-block__content.image.align-left,
  .dc-big-cta-block__content.color.align-left {
    width: 60%;
  }

  .dc-big-cta-block__content.image h2,
  .dc-big-cta-block__content.color h2 {
    font-size: 30px;
    line-height: 35px;
  }

  .dc-big-cta-block__content.image p,
  .dc-big-cta-block__content.color p {
    font-size: 16px;
    line-height: 20px;
  }

  .dc-big-cta-block__content .content-links {
    text-align: left;
  }

  .dc-big-cta-block__background {
    max-height: unset;
  }
}

@media (--md) {
  .dc-big-cta-block__content.image h2,
  .dc-big-cta-block__content.color h2 {
    font-size: 40px;
    line-height: 45px;
  }

  .dc-big-cta-block__content.image p,
  .dc-big-cta-block__content.color p {
    font-size: 20px;
    line-height: 25px;
  }
}

@media (--lg) {
  .dc-big-cta-block__content.image h2,
  .dc-big-cta-block__content.color h2 {
    font-size: 60px;
    line-height: 65px;
  }
}

@media (--xl) {
  .dc-big-cta-block__content {
    padding: 3.5rem 0;
  }

  .dc-big-cta-block__content h2 {
    font-size: 80px;
    line-height: 85px; /* 106.25% */
  }

  .dc-big-cta-block__content p {
    padding: 3rem 0 0 0;
  }

  .dc-big-cta-block__content.image,
  .dc-big-cta-block__content.color {
    padding: 3rem 4rem;
  }

  .dc-big-cta-block__content.image p,
  .dc-big-cta-block__content.color p {
    padding: 2rem 0 0 0;
  }
}
