.dc-boxes-row {
    position: relative;
    max-width: var(--max-width);
    overflow: hidden;

    dc-title-teaser {
        margin-top: 54px;
    }
}

.dc-boxes-row__items {
    display: flex;
}

.dc-boxes-row__item {
    display: flex;
    color: var(--item-font-color);
    flex: 1;

    @media (--md) {
        padding: 30px;
    }
}

.dc-boxes-row__item:not(:last-child) {
    border-right: 1px solid var(--color-grey);
}

.dc-boxes-row img {
    --dc-image-width: 116px;
    --dc-image-height: 116px;  
    
    margin-top: -30px;
    margin-right: 30px;
}

.item-title {
    margin-top: 0;
    font-size: 24px;
    font-weight: 500;
}

.dc-boxes-row__item p {
    font-size: 18px;
    font-weight: 400;
}

.dc-boxes-row a {
    --dc-link-color: var(--item-font-color);
}

@media only screen and (max-width: 1370px) {
    .dc-boxes-row__items {
        flex-direction: column;
    }

    .dc-boxes-row__item {
        border-right: none !important;
    }

    .dc-boxes-row__item:not(:last-child) {
        border-bottom: 1px solid var(--grey);
    }

    .dc-boxes-row__item:not(:first-child) {
        padding-top: 60px;
    }
}

@media only screen and (max-width: 768px) {
    .dc-boxes-row dc-title-teaser {
        font-size: 28px;
        font-weight: 400;
    }

    .dc-boxes-row__item {
        flex-direction: column;
    }

    .dc-boxes-row img {
        margin-top: -30px;
        margin-bottom: 30px;
        --dc-image-width: 96px;
        --dc-image-height: 96px;
    }
}