.dc-boxes-row {
    position: relative;
    max-width: var(--max-width);
    overflow: hidden;

    dc-title-teaser {
        margin-top: 54px;
    }
}

.dc-boxes-row__items {
    display: flex;
    flex-direction: column;
}

.dc-boxes-row__item {
    display: flex;
    flex-direction: column;
    column-gap: 3rem;
    color: var(--item-font-color);
    flex: 1;
    border-right: none !important;
    margin: 2rem 0;
}

.dc-boxes-row__item:not(:last-child) {
    border-bottom: 1px solid var(--grey);
}

.dc-boxes-row img {
    border-radius: 20px;
    max-height: fit-content;
    max-width: 100%
}

.item-title {
    margin-top: 0;
    font-size: 24px;
    font-weight: 500;
}

.dc-boxes-row__item p {
    font-size: 18px;
    font-weight: 400;
}

.dc-boxes-row a {
    --dc-link-color: var(--item-font-color);
    text-decoration: none;
}

.dc-boxes-row a:hover {
    color: var(--color-identity-blue);
}

@media (--md) {
    .dc-boxes-row__items {
        flex-direction: column;
    }

    .dc-boxes-row__item {
        flex-direction: row;
        padding: 1em 0 1em;
        margin: 0;
    }

    .dc-boxes-row__item img {
        max-width: 50%;
        margin-top: 1em;
    }
}

@media (--lg) {
    .dc-boxes-row__items {
        flex-direction: row;
        justify-content: center;
    }

    .dc-boxes-row__item {
        flex-direction: column;
        padding: 0 30px 30px;
    }

    .dc-boxes-row__item img {
        max-width: 100%
    }

    .dc-boxes-row__item:not(:last-child) {
        border-right: 1px solid var(--color-grey);
    }
}