.dc-boxes-row {
    position: relative;
    max-width: var(--max-width);
    overflow: hidden;
    background: var(--block-background-color);

    &.has-bg {
        padding: var(--unit-md);
        border-radius: 20px;
    }

    &.bg-dark {
        color: var(--color-white);
    }
}

.dc-boxes-row__items {
    display: flex;
    flex-direction: column;
}

.dc-boxes-row__item {
    display: flex;
    flex-direction: column;
    column-gap: 3rem;
    color: var(--item-font-color);
    flex: 1;
    border-left: none;
    margin: 2rem 0;
}

.dc-boxes-row__item:not(:first-child) {
    border-left: 1px solid var(--grey);
}

.dc-boxes-row__items .dc-boxes-row__item:first-child {
    margin-left: 0;
}


.dc-boxes-row__item:last-child {
    margin-right: 0;
}

.dc-boxes-row img {
    border-radius: 20px;
    max-height: fit-content;
    max-width: 100%
}

.dc-boxes-row img.is-circle {
    clip-path: circle();
    margin-bottom: 1rem;
}

.item-title {
    margin-top: 0;
    font-size: 24px;
    font-weight: 500;
}

.dc-boxes-row__item p {
    font-size: 18px;
    font-weight: 400;
}

.dc-boxes-row a {
    --dc-link-color: var(--item-font-color);
    text-decoration: none;
}

.dc-boxes-row a:hover {
    color: var(--color-identity-blue);
}

.dc-boxes-row.bg-dark a:hover {
    color: var(--color-identity-white);
}

.dc-boxes-row__items.item-grid {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 1rem;
    align-content: space-between;

    .dc-boxes-row__item {
        flex-direction: column;
        min-width: 200px;
        /* max-width: 200px; */
        
        /* &:not(:first-child) {
            padding-left: 1rem;
        } */
    }
}

@media (--md) {
    .dc-boxes-row__items {
        flex-direction: column;
    }

    .dc-boxes-row__item {
        flex-direction: row;
        padding: 1em 0 1em;
        margin: 0;
    }

    .dc-boxes-row__item img {
        max-width: 50%;
        margin-top: 1em;
    }

    .dc-boxes-row__items.item-grid img {
        max-width: 100%;
        margin-top: inherit;
    }
}

@media (--lg) {
    .dc-boxes-row__items {
        flex-direction: row;
        justify-content: center;
    }

    .dc-boxes-row__item {
        flex-direction: column;
        margin: 0 0 1rem;
        padding-top: 0;
    }

    .dc-boxes-row__item img {
        max-width: 100%;
        margin-top: 0;
    }

    .dc-boxes-row__item:not(:first-child) {
        border-left: 1px solid var(--color-grey);
        padding-left: 2rem;
        margin-left: 2rem;
    }

    .dc-boxes-row__item:first-child {
        padding-right: 2rem;
    }

    .dc-boxes-row__item:nth-child(2) {
        margin-left: 0;
    }

    .dc-boxes-row__items.item-grid .dc-boxes-row__item {
        border-left: none;
        margin: 0 0 1rem;
        padding: 0;
    }
}