@import "../base/media-queries.css";

.dc-faqs-and-image-block__content-container .dc-faqs {
  margin: 0;
}

.dc-faqs-and-image-block {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.dc-faqs-and-image-block__image-container {
  order: 1;
}

.dc-faqs-and-image-block__image-container img {
  border-radius: 20px;
  width: 100%;
  height: auto;
}

.dc-faqs-and-image-block__content-container {
  order: 2;
}

.dc-faqs-and-image-block.image-left .dc-faqs-and-image-block__image-container {
  order: 1;
}

.dc-faqs-and-image-block.image-right .dc-faqs-and-image-block__image-container {
  order: 2;
}

.dc-faqs-and-image-block.image-left .dc-faqs-and-image-block__content-container {
  order: 2;
}

.dc-faqs-and-image-block.image-right .dc-faqs-and-image-block__content-container {
  order: 1;
}

.dc-faqs__item {
  border-radius: 10px;
  margin-bottom: 1rem;
  overflow: hidden;
  background-color: var(--color-white);
  contain: layout style paint;
}

.dc-faqs__question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  cursor: pointer;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px;
  color: var(--color-blue);
  transition: background-color 0.2s ease, color 0.2s ease;
}

.dc-faqs__item:hover {
  background-color: var(--color-pink);
  color: var(--color-blue);
}

.dc-faqs__icon {
  position: relative;
  width: 40px;
  height: 40px;
  flex-shrink: 0;
  transition: transform 0.3s ease;
  transform: rotate(0deg);
  background-color: var(--color-light);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-blue);
}

.dc-faqs__icon::before,
.dc-faqs__icon::after {
  content: "";
  position: absolute;
  transition: transform 0.3s ease;
  width: 2px;
  height: 10px;
  left: 50%;
  transform-origin: center;
}

.dc-faqs__icon::before {
  transform: translate(-50%, -50%) rotate(45deg);
  top: calc(50% - 5px);
}

.dc-faqs__icon::after {
  transform: translate(-50%, -50%) rotate(-45deg);
  top: calc(50% + 5px);
}

.dc-faqs__checkbox {
  display: none;
}

.dc-faqs__checkbox:checked+.dc-faqs__question .dc-faqs__icon {
  transform: rotate(90deg);
}

.dc-faqs__answer {
  max-height: 0;
  overflow: hidden;
  padding: 0 1rem;
  color: var(--color-blue);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  opacity: 0;
  transform: translateY(-10px);
  transition: max-height 0.3s ease-out, padding 0.3s ease-out, opacity 0.3s ease-out, transform 0.3s ease-out;
}

.dc-faqs__answer p {
  margin: 0;
}

.dc-faqs__checkbox:checked~.dc-faqs__answer {
  max-height: 500px;
  padding-bottom: 1.5rem;
  opacity: 1;
  transform: translateY(0);
}

@media (--md) {
  .dc-faqs-and-image-block {
    flex-direction: row;
    align-items: flex-start;
    gap: 1.25rem;
  }

  .dc-faqs-and-image-block__image-container,
  .dc-faqs-and-image-block__content-container {
    flex: 1;
    width: 50%;
  }

  .dc-faqs-and-image-block.image-left .dc-faqs-and-image-block__image-container {
    order: 1;
  }

  .dc-faqs-and-image-block.image-right .dc-faqs-and-image-block__image-container {
    order: 2;
  }

  .dc-faqs-and-image-block.image-left .dc-faqs-and-image-block__content-container {
    order: 2;
  }

  .dc-faqs-and-image-block.image-right .dc-faqs-and-image-block__content-container {
    order: 1;
  }

  .dc-faqs__question {
    padding: 1.5rem 2rem;
    font-size: 30px;
    line-height: 35px;
  }

  .dc-faqs__answer {
    padding: 0 2rem;
    font-size: 20px;
    line-height: 25px;
  }
}
