.dc-headline {
  padding: 0 0 var(--unit-md);
}

@media (--md) {
  .dc-headline {
    padding: var(--unit-md) 0;
  }
}

@media (--lg) {
  .dc-headline {
    padding: var(--unit-lg) 0 var(--unit-xl);
  }
}

.dc-headline__content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  gap: var(--unit-md);
  max-width: var(--hero-max-width);
  margin: 0 auto;
}

.dc-headline__content > h1 {
  margin: 0;
  font-size: 35px;
  font-weight: 400;
  color: var(--color-identity-blue);
  grid-column: 1 / span 4;
  grid-row: 1 / span 1;
  text-wrap: pretty;
}

.dc-headline__content > h2 {
  grid-column: 2 / span 4;
  grid-row: 2 / span 1;
  margin: 0;
  font-weight: 400;
  text-align: left;
  color: var(--color-identity-blue);
}

@media (--sm) {
  .dc-headline__content > h1 {
    font-size: 45px;
    grid-column: 1 / span 3;
  }

  .dc-headline__content>h2 {
    grid-column: 3 / span 2;
  }
}

@media (--md) {
  .dc-headline__content {
    grid-template-columns: repeat(5, 1fr);
    gap: var(--unit-lg);
    align-items: end;
  }

  .dc-headline__content>h1 {
    font-size: 55px;
    line-height: 65px;
    grid-column: 1 / span 3;
    grid-row: 1 / span 2;
  }

  .dc-headline__content>h2 {
    grid-column: 4 / span 2;
    grid-row: 1 / span 2;
    font-size: 1rem;
  }
}

@media (--lg) {
  .dc-headline__content>h1 {
    font-size: 70px;
    line-height: 85px;
  }
}

@media (--xl) {
  .dc-headline__content {
    padding: 0rem 2rem;
  }

  .dc-headline__content>h2 {
    padding: 0 4rem;
  }
}

.dc-headline__container {
  display: flex;
  flex-direction: column;
  padding: var(--unit) 0;
  row-gap: 1.5rem;
}

.dc-headline__container > span {
  color: var(--color-blue);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0.96px;
  text-transform: uppercase;
}

.dc-headline__container > h2 {
  color: var(--color-blue);
  font-size: 40px;
  font-weight: 400;
  line-height: 45px;
  margin: 0;
}

@media (--md) {
  .dc-headline__container {
    flex-direction: row;
    padding: var(--unit-lg) 0 2.75rem;
  }

  .dc-headline__container > span {
    font-size: 16px;
    letter-spacing: 1.28px;
    flex: 1;
  }

  .dc-headline__container > h2 {
    font-size: 60px;
    font-weight: 400;
    line-height: 70px;
    flex: 2;
  }
}
