.dc-hero {
  .dc-hero--inner {
    border: 1px solid var(--color-dark-grey);
    border-radius: var(--border-radius-xl);
  }

  h1 {
    font-weight: 500;
    font-size: 40px;
    line-height: 55px;
    margin: var(--unit-md);
    background-image: var(--hero-background-image);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

    /* text comes from RTE */
    p {
      margin: 0;
    }
  }

  h1,
  h1 a {
    color: var(--color-blue);
  }

  &.no-links h1 {
    margin: 44px 98px;
  }

  ul {
    border-top: var(--base-border);
    padding: 30px var(--unit-md);
    margin: 0;
    list-style: none;
  }

  li a {
    --link-color: var(--color-dark);
    font-style: normal;
    font-size: 15px;
    line-height: 32px;
  }

  @media (--sm) {
    h1 {
      font-size: 94px;
      line-height: 122px;
      margin: 44px 98px;
    }

    ul {
      display: flex;
      column-gap: 52px;
      padding: 60px 98px;
    }

    li a {
      font-size: 18px;
      line-height: 23px;
    }
  }
}
