.dc-page-banner-block {
  max-width: var(--max-width);
  margin: 0 auto;
}

.dc-page-banner-block h1, .dc-page-banner-block .banner-content {
  font-weight: 500;
  margin: 0;
  line-height: normal;
  z-index: 1;
}

.dc-page-banner-block__container {
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
  border-radius: var(--border-radius-xl);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: var(--unit-md) var(--unit);
  background-size: cover;
  background-position: center center;
  background-image: var(--page-banner-background-image);
  background-color: var(--page-banner-background-color);
  color: var(--page-banner-text-color);

  .has-bg & {
    color: var(--color-white);
  }

  @media (--sm) {
    min-height: 270px;
    padding: var(--unit-lg) var(--unit-md);
  }
}

.dc-page-banner-block__overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.7);
}

/* ==========================================================================
   Desktop (1216px+)
   ========================================================================== */

@media (--lg) {
    .dc-page-banner-block__container {
      padding: var(--unit-lg);
    }
}

/* ==========================================================================
   Desktop (1408px+)
   ========================================================================== */

@media (--xl) {
    .dc-page-banner-block__container {
      padding: var(--unit-xl);
    }
}