.dc-spacing-block {
  display: block;
  width: 100%;
}

.dc-spacing-block.sm {
  height: var(--unit-xs);
}

.dc-spacing-block.md {
  height: var(--unit);
}

.dc-spacing-block.lg {
  height: var(--unit-md);
}

.dc-spacing-block.xl {
  height: var(--unit-xl);
}