.dc-steps {
  h2 {
    font-size: 38px;
    text-align: center;
    margin-top:0;
  }
}

.dc-steps--wrapper {
  display: grid;
  gap: var(--unit);
  position: relative;
}

.dc-steps--nav {
  display: none;
}

.dc-step--nav {
  display: flex;
  align-items: center;
  column-gap: var(--unit);
  padding: var(--unit);
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: transparent;
  cursor: pointer;

  h3 {
    text-transform: uppercase;
    margin: 0;
    color: var(--color-black);
    font-size: var(--unit-sm);
    font-weight: 700;
  }

  p {
    font-weight: 700;
    margin: 0;
  }

  &::before {
    counter-increment: step;
    border: 2px solid var(--color-grey);
    content: "";
    border-radius: 100%;
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2px;
  }
}

.dc-step--nav:hover,
.dc-step--nav.active {
  border-left-color: var(--color-blue);
  background: white;
  box-shadow: var(--base-box-shadow);

  &::before {
    border: 2px solid #eee;
    background-color: var(--color-blue);
    color: #fff;
  }

  h3 {
    color:var(--color-dark-grey);
  }
}

.dc-step--content {
  display: none;

  &.active {
    display:block;
  }

  img {
    margin: 0 auto var(--unit-sm);
    max-width: 200px;
  }

  figcaption {
    margin: 0 auto;
    max-width: 200px;
  }

  .h4 {
    margin: 0;
    font-size:1.1rem;
    font-weight: bold;
  }

  p {
    margin-bottom: 0;
  }
}

:checked + .dc-step--nav + .dc-step--content {
  display: block;
}

@media (--md) {
  .dc-steps--wrapper {
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: auto;
    column-gap: var(--unit-lg);
  }

  .dc-steps--nav {
    display:block;
  }

  .dc-step--nav-mobile {
    display:none;
  }

  .dc-step--nav {
    align-self: start;
    grid-column: 2 / 3;
  }

  .dc-step--content {
    grid-column: 1 / 2;
  }
}
