.dc-text-block {
  position: relative;
  background: transparent;
  color: inherit;
  display: flex;
  justify-content: center;

  &.has-bg {
    padding: var(--unit-md);
    border-radius: 20px;
    background-color: var(--block-background-color);
  }

  &.bg-dark {
    color: var(--color-white);
  }

  &.has-image {
    position: relative;
    justify-content: flex-start;

    > picture {
      position: absolute;
      inset: 0;
      width: 100%;
      height: 100%;
    }

    > picture img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 20px;
    }

    .dc-text-block__content {
      position: relative;
      padding: var(--unit-md);
      width: 100%;
      margin: 0;
    }
  }

  a.btn {
    line-height: var(--unit-md);
  }

  h2 {
    margin: 1rem 0;
  }

  h3 {
    margin: 0.5rem 0;
  }
}

.dc-text-block__content {
  max-width: 100%;
  overflow: auto;
  width: 100%;

  > :first-child {
    margin-top: 0;
  }

  > :last-child {
    margin-bottom: 0;
  }

  p {
    font-size: 1rem;
    line-height: 1.6;
  }
}

@media (--sm) {
  .dc-text-block .cta-link {
    text-align: inherit;
  }

  .dc-text-block.has-image .dc-text-block__content {
    padding: var(--unit-lg);
  }
}

@media (--lg) {
  .dc-text-block.has-image .dc-text-block__content {
    padding: var(--unit-lg) 0 var(--unit-lg) var(--unit-lg);
    width: 50%;
  }
}
