.dc-text-block {
  position: relative;
  background: transparent;
  color: inherit;
  display: flex;
  justify-content: center;

  &.has-bg {
    padding: var(--unit-md);
    border-radius: 20px;
  }

  &.bg-dark {
    color: var(--color-white);
  }

  &.has-image {
    position: relative;

    img {
      border-radius: 20px;
    }

    .dc-text-block__content {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 0;
      padding-left: var(--unit-lg);
      width: 50%;
      margin: auto;
    }
  }

  a.btn {
    line-height: var(--unit-md);
  }

  h2 {
    margin: 1rem 0;
  }

  h3 {
    margin: 0.5rem 0;
  }
}

.dc-text-block__content {
  max-width: 100%;
  overflow: auto;
  width: 100%;

  > :first-child {
    margin-top: 0;
  }

  > :last-child {
    margin-bottom: 0;
  }

  p {
    font-size: 1rem;
    line-height: 1.6;
  }

}
