@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockGridItem<CallToActionBlock>>

@if (!string.IsNullOrEmpty(Model.Content.CallToActionLinkText))
{
    <div class="dc-big-cta-block @(Context.Request.IsBlockPreviewRequest() ? "backoffice-cta-block" : "")">
        <div class="dc-big-cta-block__content align-center">
            @if (!string.IsNullOrEmpty(Model.Content.Headline))
            {
                <h2>@Model.Content.Headline</h2>
            }
            <div>
                @if (Model.Content.Description != null)
                {
                    @Html.Raw(Model.Content.Description?.ToHtmlString());
                }
                <a href="#" class="btn arrow cta is-blue" target="_self" title="#">
                    @Model.Content.CallToActionLinkText
                    <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg"><g><path id="Vector" d="M6.41675 6.41663H15.5834V15.5833" stroke="#283A97" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" /><path id="Vector_2" d="M6.41675 15.5833L15.5834 6.41663" stroke="#283A97" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" /></g></svg>
                </a>
            </div>
        </div>
    </div>
}