@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockGridItem<CardsBlock>>
@{
    var totalColumns = Model.GridColumns ?? 12;
}

@if (Model.Content.Cards != null && Model.Content.Cards.Any())
{
    <div class="dc-boxes-row">
        @foreach (var cardGroup in Model.Content.Cards.GetRows()) {
            <div class="dc-boxes-row__items">
                @foreach (var item in cardGroup)
                {
                    <partial name="@($"~/Views/Partials/Blocks/{item.Content.ContentType.Alias}.cshtml")" model="item" />
                }
            </div>
        }
    </div>
}