@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockGridItem<FormBlock>>

@if (Model.Content.Form.HasValue && Model.Content.Form != Guid.Empty)
{
    <div class="dc-text-block">
        @if (!string.IsNullOrEmpty(Model.Content.Title))
        {
            <h2 class="block-title">@Model.Content.Title</h2>
        }
        @if (Model.Content.Subtitle != null)
        {
            <div class="block-subtitle">
                @Html.Raw(Model.Content.Subtitle?.ToHtmlString())
            </div>
        }

        <umb-forms-render form-id="@Model.Content.Form.Value" />
    </div>
}