<div class="dc-page-banner-block has-bg">
    <style>
        #abc {
            --page-banner-background-image: url("/media/hfufe5jz/stickers.jpg");
            --page-banner-background-color: #283a97;
            --page-banner-text-color: #fff;
        }
    </style>
    <div id="abc" class="dc-page-banner-block__container">
        <div class="dc-page-banner-block__overlay">
        </div>
        <h1>Welcome to the Umbraco Community!</h1>
    </div>
</div>
