@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockGridItem<QuotesBlock>>

@if (Model.Content?.QuoteItems != null && Model.Content.QuoteItems.Any())
{
    <dc-carousel class="dc-testimonials-carousel @(Model.Content.QuoteItems.Count == 3 ? "desktop-full-width" : "")">
        <div class="carousel__nav">
            <dc-carousel-controls class="controls" count="@Model.Content.QuoteItems.Count"></dc-carousel-controls>
        </div>
        <div class="carousel-items-wrapper">
            <div class="carousel-items">
                @foreach (var item in Model.Content.QuoteItems)
                {
                    var typedItem = item.Content as QuoteWithAttributionBlock;
                    if (typedItem == null) continue;
                    <div class="carousel__item">
                        <svg xmlns="http://www.w3.org/2000/svg" width="312" height="384" viewBox="0 0 312 384" fill="none"
                                class="bg-mobile">
                            <path d="M292 384H20C8.95431 384 0 375.046 0 364V81.1097C0 70.064 8.95431 61.1097 20 61.1097H21.6552C43.7466 61.1097 61.6552 43.201 61.6552 21.1096V20C61.6552 8.95431 70.6095 0 81.6552 0H292C303.046 0 312 8.9543 312 20V364C312 375.046 303.046 384 292 384Z"
                                    fill="white" />
                            <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 48 48" fill="none">
                                <circle cx="24" cy="24" r="24" fill="#F5C1BC" />
                                <g transform="translate(14,14)">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="19" viewBox="0 0 20 19"
                                            fill="none">
                                        <path d="M12.7781 18.24C11.8825 18.24 11.1455 17.5031 11.1455 16.6075V14.7417C11.1455 13.8462 11.8825 13.1092 12.7781 13.1092C13.4217 13.1092 13.9442 12.5868 13.9442 11.9431V11.0102C13.9442 10.8796 13.8415 10.777 13.7109 10.777C12.293 10.777 11.1455 9.62953 11.1455 8.21155V2.61426C11.1455 1.19627 12.293 0.0488281 13.7109 0.0488281H16.5096C17.9276 0.0488281 19.075 1.19627 19.075 2.61426V11.9431C19.075 15.4134 16.2484 18.24 12.7781 18.24ZM13.7109 1.44815C13.0672 1.44815 12.5448 1.97057 12.5448 2.61426V8.21155C12.5448 8.85524 13.0672 9.37766 13.7109 9.37766C14.6065 9.37766 15.3435 10.1146 15.3435 11.0102V11.9431C15.3435 13.3611 14.196 14.5085 12.7781 14.5085C12.6474 14.5085 12.5448 14.6111 12.5448 14.7417V16.6075C12.5448 16.7381 12.6474 16.8407 12.7781 16.8407C15.4741 16.8407 17.6757 14.6391 17.6757 11.9431V2.61426C17.6757 1.97057 17.1533 1.44815 16.5096 1.44815H13.7109Z"
                                                fill="#283A97" />
                                        <path d="M2.51633 18.24C1.62077 18.24 0.883789 17.5031 0.883789 16.6075V14.7417C0.883789 13.8462 1.62077 13.1092 2.51633 13.1092C3.16002 13.1092 3.68244 12.5868 3.68244 11.9431V11.0102C3.68244 10.8796 3.57982 10.777 3.44922 10.777C2.03123 10.777 0.883789 9.62953 0.883789 8.21155V2.61426C0.883789 1.19627 2.03123 0.0488281 3.44922 0.0488281H6.24787C7.66585 0.0488281 8.81329 1.19627 8.81329 2.61426V11.9431C8.81329 15.4134 5.98666 18.24 2.51633 18.24ZM3.44922 1.44815C2.80553 1.44815 2.28311 1.97057 2.28311 2.61426V8.21155C2.28311 8.85524 2.80553 9.37766 3.44922 9.37766C4.34478 9.37766 5.08176 10.1146 5.08176 11.0102V11.9431C5.08176 13.3611 3.93432 14.5085 2.51633 14.5085C2.38573 14.5085 2.28311 14.6111 2.28311 14.7417V16.6075C2.28311 16.7381 2.38573 16.8407 2.51633 16.8407C5.22169 16.8407 7.41397 14.6391 7.41397 11.9431V2.61426C7.41397 1.97057 6.89155 1.44815 6.24787 1.44815H3.44922Z"
                                                fill="#283A97" />
                                    </svg>
                                </g>
                            </svg>
                        </svg>
                        <svg xmlns="http://www.w3.org/2000/svg" width="377" height="466" viewBox="0 0 377 466" fill="none"
                                class="bg-desktop">
                            <path d="M357 465.5H20C8.95431 465.5 0 456.546 0 445.5V94.5C0 83.4543 8.95431 74.5 20 74.5H34.5C56.5914 74.5 74.5 56.5914 74.5 34.5V20.5C74.5 9.4543 83.4543 0.5 94.5 0.5H357C368.046 0.5 377 9.45431 377 20.5V445.5C377 456.546 368.046 465.5 357 465.5Z"
                                    fill="white" />
                            <g>
                                <svg xmlns="http://www.w3.org/2000/svg" width="58" height="58" viewBox="0 0 58 58"
                                        fill="none">
                                    <circle cx="29" cy="29" r="29" fill="#F5C1BC" />
                                    <g transform="translate(18,18)">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 22 22"
                                                fill="none">
                                            <path d="M14.3845 22C13.3014 22 12.4102 21.1087 12.4102 20.0256V17.7692C12.4102 16.6862 13.3014 15.7949 14.3845 15.7949C15.163 15.7949 15.7948 15.1631 15.7948 14.3846V13.2564C15.7948 13.0985 15.6707 12.9744 15.5127 12.9744C13.7978 12.9744 12.4102 11.5867 12.4102 9.8718V3.10256C12.4102 1.38769 13.7978 0 15.5127 0H18.8973C20.6122 0 21.9999 1.38769 21.9999 3.10256V14.3846C21.9999 18.5815 18.5814 22 14.3845 22ZM15.5127 1.69231C14.7343 1.69231 14.1025 2.3241 14.1025 3.10256V9.8718C14.1025 10.6503 14.7343 11.2821 15.5127 11.2821C16.5958 11.2821 17.4871 12.1733 17.4871 13.2564V14.3846C17.4871 16.0995 16.0994 17.4872 14.3845 17.4872C14.2266 17.4872 14.1025 17.6113 14.1025 17.7692V20.0256C14.1025 20.1836 14.2266 20.3077 14.3845 20.3077C17.645 20.3077 20.3076 17.6451 20.3076 14.3846V3.10256C20.3076 2.3241 19.6758 1.69231 18.8973 1.69231H15.5127Z"
                                                    fill="#283A97" />
                                            <path d="M1.97436 22C0.891282 22 0 21.1087 0 20.0256V17.7692C0 16.6862 0.891282 15.7949 1.97436 15.7949C2.75282 15.7949 3.38462 15.1631 3.38462 14.3846V13.2564C3.38462 13.0985 3.26051 12.9744 3.10256 12.9744C1.38769 12.9744 0 11.5867 0 9.8718V3.10256C0 1.38769 1.38769 0 3.10256 0H6.48718C8.20205 0 9.58974 1.38769 9.58974 3.10256V14.3846C9.58974 18.5815 6.17128 22 1.97436 22ZM3.10256 1.69231C2.3241 1.69231 1.69231 2.3241 1.69231 3.10256V9.8718C1.69231 10.6503 2.3241 11.2821 3.10256 11.2821C4.18564 11.2821 5.07692 12.1733 5.07692 13.2564V14.3846C5.07692 16.0995 3.68923 17.4872 1.97436 17.4872C1.81641 17.4872 1.69231 17.6113 1.69231 17.7692V20.0256C1.69231 20.1836 1.81641 20.3077 1.97436 20.3077C5.24615 20.3077 7.89744 17.6451 7.89744 14.3846V3.10256C7.89744 2.3241 7.26564 1.69231 6.48718 1.69231H3.10256Z"
                                                    fill="#283A97" />
                                        </svg>
                                    </g>
                                </svg>
                            </g>
                        </svg>
                        <div class="carousel__item-content">
                            <p>@typedItem.QuoteText</p>
                            @if (!string.IsNullOrEmpty(typedItem.Attribution)) {
                                <span>@typedItem.Attribution</span>
                            }
                        </div>
                    </div>
                }
            </div>
        </div>
    </dc-carousel>
}