@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockGridItem<TextBlock>>

@if (Context.Request.IsBlockPreviewRequest())
{
    <p>This is a text block in the backoffice</p>
}

@if (Model.Content.Text != null) {
<div class="dc-text-block justify-center transparent" id="xyz">
    <div class="dc-text-block__content">
        @Html.Raw(Model.Content.Text.ToHtmlString())
    </div>
</div>
}
