@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockListItem<TextBlock>>

@if (Model.Content.Text != null && !Model.Content.Text.IsEmptyHtmlString())
{
    <div class="dc-text-block">
        <div class="dc-text-block__content">
            @Html.Raw(Model.Content.Text.ToHtmlString())
        </div>
    </div>
}
