.dc-link-slider-item {
    position: relative;
    display: flex;
    flex-direction: column;
    width: var(--slide-width);
    border: 1px solid #909090;
    border-radius: 22px;
    flex-shrink: 0;

    .dc-link-slider-item__headline {
        padding: 24px;
        color: var(--black, #162335);
        font-size: 26px;
        font-weight: 500;
        margin: 0;
        border-bottom: 1px solid #909090;
    }

    .dc-link-slider-item__content {
        padding: 24px;
    }

    img {
        width: 117px;
        height: 117px;
    }

    figcaption {
        max-width: 117px;
        margin-left: 0;
        font-size: 12px;
    }

    .dc-link-slider-item__text {
        color: var(--color-black);
        font-size: 20px;
        font-weight: 400;
        line-height: 30px;
        margin-top:27px;
    }

    .dc-link-slider-item__link {
        --link-color: var(--color-dark);
        margin-top: var(--unit);
        display:block;
    }

    .dc-link-slider-item__text p:first-child {
        margin-top: 0;
    }

    @media (min-width: 767px) {
        .dc-link-slider-item__content {
            display: flex;
        }

        img {
            margin-right: var(--unit-md);
        }

        .dc-link-slider-item__text {
            margin-top: 0;
        }
    }
}