@import './box-slider.css';
@import './box-slider-item.css';
@import './link-slider.css';
@import './link-slider-item.css';

dc-slider {
    .slider-header {
        display: flex;
        justify-content: space-between;
    }

    .slides {
        display: flex;
        column-gap: 20px;
        transition: transform 0.3s ease-in;
    }

    .controls {
        display: none;
    }

    .mobile-controls {
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin-top: var(--unit);
        align-items: center;
    }
}

@media(--sm) {
    dc-slider {
        .mobile-controls {
            display: none;
        }

        .controls {
            display: block;
        }

        .slider-wrapper {
            display: flex;
            width: var(--slide-width);
            margin-top: var(--wrapper-margin-top);
            justify-content: flex-start;
        }
    }
}