/* Basic styles */
h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/lato/v24/S6uyw4BMUTPHjxAwXjeu.woff2) format('woff2');
    unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

img {
    max-width: 100%;
}

/* Backoffice specific block styling */
.dc-image-block,
.dc-text-block,
.dc-big-cta-block {
    padding: 20px;
}

/* Image with overlay styling */
.dc-image-wrapper {
    position: relative;
}

.dc-image-wrapper .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    background-color: #00000080;
}

.dc-image-wrapper .text {
    position: absolute;
    top: 0;
    left: 0;
    color: #ffffff;
    padding: 20px;
    bottom: 0;
    right: 0;

    :first-child {
        margin-top: 0;
    }

    > * {
        max-width: 90ch;
    }
}

/* Title block styles */
.dc-headline__container {
    display: flex;
    flex-direction: row;
    padding: 20px;
    row-gap: 1.5rem;
}

.dc-headline__container > span {
    color: #283A97;
    font-size: 16px;
    letter-spacing: 1.28px;
    flex: 1;
}

.dc-headline__container > h2 {
    color: #283A97;
    font-size: 60px;
    font-weight: 400;
    line-height: 70px;
    flex: 2;
}

/* Call to action block styling */
.dc-big-cta-block {
    text-align: center;
}

.btn {
    display: inline-flex;
    gap: 10px;
    align-items: center;
    min-height: 40px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    box-shadow: none;
    background-color: transparent;
    border-radius: 20px;
    border: 1px solid #283A97;
    cursor: pointer;
    color: #283A97;
    padding: 0 20px;
    transition: all ease-out 0.2s;
    appearance: none;
    text-decoration: none;
}

.btn svg {
    background-color: transparent;
}

.btn:hover {
    background-color: #283A97;
    color: #ffffff;
}

.btn.is-blue {
    color: #ffffff;
    background-color: #283A97;
}

.btn.is-blue:hover {
    color: #283A97;
    background-color: #ffffff;
}

.btn.arrow {
    padding: 0 0 0 20px;
}

.btn.arrow svg {
    width: 32px;
    height: 32px;
    border: 4px solid transparent;
    transform: rotate(45deg);
}

.btn.arrow:hover svg path {
    stroke: #ffffff;
}

.btn.cta svg {
    transform: rotate(0);
    background-color: #ffffff;
    border-color: #ffffff;
    border-radius: 50%;
    transition: all ease-out 0.2s;
}

.btn.cta:hover svg {
    transform: rotate(45deg);
}

.btn.cta svg path {
    stroke: #283A97;
}

.btn.cta:hover svg {
    background-color: #283A97;
    border-color: #283A97;
}

.dc-big-cta-block__content h2 {
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 45px;
    margin: 0;
}

.dc-big-cta-block__content p {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    padding: 1.25rem 0 0 0;
    margin: 0;
}

.dc-big-cta-block__content .btn {
  margin-top: 1.25rem;
}

/* footer links */
.footer-links__column {
    background-color: #283A97;
    padding: 5px 10px;
    color: #ffffff;
}

.footer-links__column ul {
    list-style: none;
    padding-left: 0;
}

.footer-links__column ul a {
    color: #ffffff;
    text-decoration: none;
}

.footer-links__column ul a:hover {
    color: #f5c1bc;
}

.footer-links__column h2 {
    text-transform: uppercase;
    font-size: 14px;
    color: #babcd5;
}

/* forms block */
.umbraco-forms-form {
    justify-content: center;
    display: flex;
}

.umbraco-forms-page {
    margin: 0 20px;
}

.umbraco-forms-page h4 {
    margin: 0;
}

/* cards block */
.dc-boxes-row__items {
    display: flex;
    justify-content: center;
    overflow: hidden;
    column-gap: 10px;
}

.dc-boxes-row__items.item-grid {
    flex-wrap: wrap;
}

.dc-boxes-row__item a {
    text-decoration: none;
}

.is-circle {
    clip-path: circle();
}

/* page banners */

.dc-page-banner-block__container {
    position: relative;
    overflow: hidden;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    background-size: cover;
    background-position: center center;
    background-image: var(--page-banner-background-image);
}

.has-bg .dc-page-banner-block__container {
    color: #ffffff;
    padding: 40px 20px;
}

.dc-page-banner-block__container h1, .dc-page-banner-block__container .banner-content {
    z-index: 2;
}

.dc-page-banner-block__overlay {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

/* Quotes block */
.carousel-items {
    display: flex;
    overflow: hidden;
}

.carousel__item {
    padding: 20px;
    flex-basis: 24%;
    flex-grow: 0;
    flex-shrink: 0;
}

.carousel__item svg {
    display: none;
}

.carousel__item-content p {
    font-style: italic;
}

/* Accordion block */
.dc-faqs {
    padding: 20px;
}

.dc-faqs .block-title {
    text-align: center;
}

.dc-faq-block h3 {
    font-size: 16px;
    font-weight: bold;
}

.dc-faq-block svg, .dc-faq-block input {
    display: none;
}

.dc-faq-block dd {
    margin: 0;
}

/* Video block preview */
.video-block-preview {
    padding: 20px;
}

.video-block-preview p {
    font-size: 16px;
    font-weight: bold;
}

/* Column comparison */
.plan-comparison__columns {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.plan-column {
    padding: 0 20px;
}

/* Speakers block */
.dc-speakers-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    justify-items: center;
}

.dc-speakers-grid__item {
    max-width: 200px;
    text-align: center;
}

.speaker {
    display: grid;
    grid-template-columns: 80px 1fr;
    column-gap: 20px;
    align-items: center;
}

.speaker p {
    margin: 0;
    padding-bottom: 5px;
}

.speaker-name {
    font-weight: bold;
    font-size: 18px;
}

/* Hero banner */
.main-hero__content-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.main-hero__content-left {
    padding: 20px;
}

.main-hero__content-left h1 {
    line-height: 2rem;
}

/* Text block */
.dc-text-block.has-image {
    position: relative;
}

.dc-text-block.has-image img {
    border-radius: 20px;
}

.dc-text-block.has-image .dc-text-block__content {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 20px;
    padding: 20px;
    width: 100%;
    color: #ffffff;
}