<dc-footer>
    <div class="footer-placeholder"></div>
    <footer class="sticky-footer">
        <div class="footer-inner">
            <div class="footer-inner__logo">
                &nbsp;
            </div>

            <div class="footer-inner__links">
                <div class="footer-links__column">
                    <div class="footer-links__column-section">
                        &nbsp;
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="footer-bottom__bottom-links">
                &nbsp;
            </div>
            <div class="footer-bottom__social-links">
                &nbsp;
            </div>
        </div>
    </footer>
</dc-footer>
