<dc-footer>
    <div class="footer-placeholder"></div>
    <footer class="sticky-footer">
        <div class="footer-inner">
            <div class="footer-inner__logo">
                <img src="/dist/identity/logos/ourheart.svg" width="25" height="25" alt="Our Umbraco"> Our Umbraco</span>
            </div>

            <div class="footer-inner__links">
                <div class="footer-links__column">
                    <div class="footer-links__column-section">
                        <h2>columnSection.Title</h2>
                        <ul>
                            <li><a href="link.Url" target="link.Target" title="link.Text">link.Text</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="footer-bottom__bottom-links">
                <ul>
                    <li>
                        <a href="bottomLink.Url" target="bottomLink.Target" title="bottomLink.Text">bottomLink.Text</a>
                    </li>
                </ul>
            </div>
            <div class="footer-bottom__social-links">
                <ul>
                    <li>
                        <a href="socialLink.Link.Url" target="socialLink.Link.Target" title="socialLink.Link.Text">
                            <img src="socialLink.Icon" width="24" height="24" alt="socialLink.Link.Text" />
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </footer>
</dc-footer>
