<dc-header class="nav-header">
    <header class="header">
        <div class="nav">
            <div class="nav-start">
                <a href="/" class="logo-link" style="display: flex; align-items: center;">
                    <span class="logo-container">
                        <img src="/media/3aamnp2b/comm_heart.png" alt="Our Umbraco" />
                    </span>
                    <span class="logo-link__sitename">Our Umbraco</span>
                </a>
            </div>
            <nav class="nav-list">
                <ul class="nav-list__list">
                    <li class="nav-item">
                        <a href="https://our.umbraco.com/forum/" title="Forum">Forum</a>
                    </li>
                    <li class="nav-item">
                        <a href="https://our.umbraco.com/packages/">Packages</a>
                    </li>
                    <li class="nav-item">
                        <a href="https://our.umbraco.com/documentation/">Documentation</a>
                    </li>
                    <li class="nav-item">
                        <a href="/welcome-to-the-community/">Community</a>
                    </li>
                    <li class="nav-item">
                        <a href="https://our.umbraco.com/download/">Download</a>
                    </li>
                </ul>
            </nav>
        </div>
    </header>
</dc-header>