<dc-header class="nav-header">
    <header class="header">
        <div class="nav">
            <div class="nav-start">
                &nbsp;
            </div>
            <nav class="nav-list">
               &nbsp;
            </nav>
        </div>
    </header>
</dc-header>