<header class="hero has-background">
    @* <div class="hero-overlay"></div> *@
    <img src="/media/hfufe5jz/stickers.jpg" class="hero-image" alt="" />
    <div class="hero-content">
        <div class="hero-header">
            @* <small>Model.SuperHeadline</small> *@
            <h1>Welcome to the new Umbraco Community Site</h1>
            <h2>Coming to a browser near you!</h2>
            @* <p class="hero-footnote">Model.Footnote</p> *@
        </div>
    </div>
</header>
