<nav class="subnav">
    <div class="subnav-brand">
        <h2 class="subnav-title">Menu</h2>
    </div>
    <div class="subnav-menu">
        <ul class="subnav-list has-dropdown">
            <li class="subnav-item">
                <a href="/events/" class="subnav-link">Events</a>
                <ul class="subnav-dropdown">
                    <li><a href="/events/umbraco-meetups/" class="subnav-link">Umbraco Meetups</a></li>
                    <li><a href="/events/umbraco-community-festivals-and-conferences/" class="subnav-link">Umbraco Community Festivals and Conferences</a></li>
                    <li><a href="/events/events-by-umbraco-hq/" class="subnav-link">Events by Umbraco HQ</a></li>
                    <li><a href="/events/community-office-hours/" class="subnav-link">Community Office Hours</a></li>
                    <li><a href="/events/codegarden/" class="subnav-link">Codegarden</a></li>
                    <li><a href="/events/umbraco-us-summit/" class="subnav-link">Umbraco U.S. Summit</a></li>
                </ul>
            </li>
        </ul>
        <ul class="subnav-list has-dropdown">
            <li class="subnav-item">
                <a href="/get-involved/" class="subnav-link">Get involved</a>
                <ul class="subnav-dropdown">
                    <li><a href="/get-involved/how-to-get-involved/" class="subnav-link">How to get involved</a></li>
                    <li><a href="/get-involved/plant-a-tree-with-your-contributions/" class="subnav-link">Plant a tree with your contributions</a></li>
                    <li><a href="/get-involved/contribute-as-an-agency/" class="subnav-link">Contribute as an Agency</a></li>
                    <li><a href="/get-involved/hacktoberfest/" class="subnav-link">Hacktoberfest</a></li>
                    <li><a href="/get-involved/community-discord-server/" class="subnav-link">Community Discord Server</a></li>
                    <li><a href="/get-involved/umbraco-champions/" class="subnav-link">Umbraco Champions</a></li>
                </ul>
            </li>
        </ul>
        <ul class="subnav-list has-dropdown">
            <li class="subnav-item is-active">
                <a href="/the-community-blog/" class="subnav-link">Community Blog</a>
                <ul class="subnav-dropdown is-scrollable">
                    <li><a href="/the-community-blog/follow-along-on-the-first-ever-umbraco-mvp-summit/" class="subnav-link">Follow along on the first ever Umbraco MVP Summit!</a></li>
                    <li><a href="/the-community-blog/meet-the-umbraco-community-docs-team-2025/" class="subnav-link">Meet the Umbraco Community Docs Team 2025!</a></li>
                    <li><a href="/the-community-blog/join-the-umbraco-community-docs-team/" class="subnav-link">Join the Umbraco Community Docs Team</a></li>
                    <li><a href="/the-community-blog/join-the-umbraco-sustainability-team-and-make-a-difference/" class="subnav-link">Join the Umbraco sustainability team and make a difference!</a></li>
                    <li><a href="/the-community-blog/the-umbraco-forum-is-moving/" class="subnav-link">The Umbraco forum is moving</a></li>
                    <li><a href="/the-community-blog/meet-the-orchestration-advisory-board/" class="subnav-link">Meet the Orchestration advisory board</a></li>
                    <li><a href="/the-community-blog/join-the-orchestration-advisory-board/" class="subnav-link">Join the Orchestration advisory board</a></li>
                    <li><a href="/the-community-blog/saying-goodbye-to-the-backoffice-community-team/" class="subnav-link">Saying Goodbye to the Backoffice Community Team</a></li>
                    <li><a href="/the-community-blog/the-sustainability-teams-community-visit-2024/" class="subnav-link">The sustainability team's community visit 2024</a></li>
                </ul>
            </li>
        </ul>
        <ul class="subnav-list has-dropdown">
            <li class="subnav-item">
                <a href="/umbracians-in-action/" class="subnav-link">Umbracians in Action</a>
                <ul class="subnav-dropdown">
                    <li><a href="/umbracians-in-action/codecabin/" class="subnav-link">CODECABIN</a></li>
                    <li><a href="/umbracians-in-action/candid-contributions/" class="subnav-link">Candid Contributions</a></li>
                    <li><a href="/umbracians-in-action/skrift-magazine/" class="subnav-link">Skrift Magazine</a></li>
                    <li><a href="/umbracians-in-action/24-days-in-umbraco/" class="subnav-link">24 Days In Umbraco</a></li>
                    <li><a href="/umbracians-in-action/umbracoffee/" class="subnav-link">umbraCoffee</a></li>
                    <li><a href="/umbracians-in-action/paul-seals-umbraco-youtube-tutorials/" class="subnav-link">Paul Seal's Umbraco YouTube tutorials</a></li>
                    <li><a href="/umbracians-in-action/community-corner/" class="subnav-link">Community Corner</a></li>
                </ul>
            </li>
        </ul>
        <ul class="subnav-list has-dropdown">
            <li class="subnav-item">
                <a href="/learn-about-the-community/" class="subnav-link">About the Community</a>
                <ul class="subnav-dropdown is-scrollable">
                    <li><a href="/learn-about-the-community/community-teams/" class="subnav-link">Community Teams</a></li>
                    <li><a href="/learn-about-the-community/advisory-boards/" class="subnav-link">Advisory Boards</a></li>
                    <li><a href="/learn-about-the-community/guilds/" class="subnav-link">Guilds</a></li>
                    <li><a href="/learn-about-the-community/contribution-stories/" class="subnav-link">Contribution Stories</a></li>
                    <li><a href="/learn-about-the-community/h5yr/" class="subnav-link">#H5YR</a></li>
                    <li><a href="/learn-about-the-community/badges/" class="subnav-link">Badges</a></li>
                    <li><a href="/learn-about-the-community/karma-leaderboard/" class="subnav-link">Karma leaderboard</a></li>
                    <li><a href="/learn-about-the-community/blog-posts/" class="subnav-link">Blog posts</a></li>
                    <li><a href="/learn-about-the-community/uprofile/" class="subnav-link">uProfile</a></li>
                    <li><a href="/learn-about-the-community/community-videos/" class="subnav-link">Community Videos</a></li>
                    <li><a href="/learn-about-the-community/umbraco-community-health-survey/" class="subnav-link">Umbraco Community Health Survey</a></li>
                </ul>
            </li>
        </ul>
        <ul class="subnav-list has-dropdown">
            <li class="subnav-item">
                <a href="/mvp-program/" class="subnav-link">MVP Program</a>
                <ul class="subnav-dropdown">
                    <li><a href="/mvp-program/how-do-you-become-an-mvp/" class="subnav-link">How do you become an MVP?</a></li>
                    <li><a href="/mvp-program/current-mvps/" class="subnav-link">Current MVPs</a></li>
                    <li><a href="/mvp-program/mvp-agreement/" class="subnav-link">MVP Agreement</a></li>
                </ul>
            </li>
        </ul>
        <ul class="subnav-list has-dropdown">
            <li class="subnav-item">
                <a href="/diversity-and-inclusion/" class="subnav-link">Diversity & Inclusion</a>
                <ul class="subnav-dropdown">
                    <li><a href="/diversity-and-inclusion/diversity-equity-and-inclusion-community-group/" class="subnav-link">Diversity, Equity and Inclusion Community Group</a></li>
                    <li><a href="/diversity-and-inclusion/mission-statement/" class="subnav-link">Mission Statement</a></li>
                    <li><a href="/diversity-and-inclusion/on-chaoss-community-and-going-all-in/" class="subnav-link">On CHAOSS, Community, and Going All In</a></li>
                    <li><a href="/diversity-and-inclusion/announcing-diversity-releases-for-2025/" class="subnav-link">Announcing Diversity Releases for 2025</a></li>
                </ul>
            </li>
        </ul>
        <ul class="subnav-list">
            <li class="subnav-item">
                <a href="/the-developer-relations-team/" class="subnav-link">DevRel team</a>
            </li>
        </ul>
        <ul class="subnav-list">
            <li class="subnav-item">
                <a href="/sign-up-to-our-newsletter/" class="subnav-link">Newsletter</a>
            </li>
        </ul>
    </div>
</nav>