@using UmbracoCommunity.Web.Models.ViewModels.Components
@model MenuViewModel

<nav class="nav-releases">
    <div class="nav-releases__container">
        <div class="nav-releases__logo">
            <a href="/">🚀</a>
        </div>

        <ul class="nav-releases__links">
            @foreach (var item in Model.TopLevelNavigationItems)
            {
                if (item is MenuViewModel.NavigationItem navigationItem)
                {
                    <li class="nav-releases__item">
                        <a href="@navigationItem.Url" class="nav-releases__link">@navigationItem.Text</a>
                    </li>
                }
            }
        </ul>

        <button type="button" class="nav-releases__burger" id="navBurger" aria-label="Toggle menu">
            <span class="nav-releases__burger-line"></span>
            <span class="nav-releases__burger-line"></span>
            <span class="nav-releases__burger-line"></span>
        </button>
    </div>
</nav>

<div class="nav-releases__mobile-menu" id="navMobileMenu">
    <ul class="nav-releases__mobile-links">
        @foreach (var item in Model.TopLevelNavigationItems)
        {
            if (item is MenuViewModel.NavigationItem navigationItem)
            {
                <li class="nav-releases__mobile-item">
                    <a href="@navigationItem.Url" class="nav-releases__mobile-link">@navigationItem.Text</a>
                </li>
            }
        }
    </ul>
</div>
