.dc-case-studies-carousel {
  --item-width: 375px;
  --item-height: auto;
  --item-side-margin: 92px;
  padding-bottom: 2px;
}

@media (--md) {
  .dc-case-studies-carousel {
    flex-direction: row;
  }
}

@media (--lg) {
  .dc-case-studies-carousel {
    gap: 152px;
  }
}

@media (--xl) {
  .dc-case-studies-carousel {
    gap: 172px;
  }
}

.dc-case-studies-carousel .carousel__item {
  display: block;
  position: relative;
  width: var(--item-width);
  height: var(--item-height);
  will-change: transform;
}

.dc-case-studies-carousel .carousel__item p {
    width: 100%;
}

.dc-case-studies-carousel .carousel__item.hiding {
  animation: caseStudiesCarouselHide .5s ease-out;
}

.dc-case-studies-carousel .carousel__item.hiding-end {
  animation: fadeOut .2s ease-out;  
}

.dc-case-studies-carousel .carousel__item.showing {
  animation: caseStudiesCarouselShow .5s ease-out;
}

.dc-case-studies-carousel .carousel__item.showing-end {
  animation: fadeIn .2s ease-out;
}

.dc-case-studies-carousel .carousel__item dc-case-study {
  width: var(--item-width);
  height: 100%;
}
