@using UmbracoCommunity.Web.Models.Pages
@inherits UmbracoViewPage<AccountPageViewModel>

@{
    Layout = "Layout.cshtml";
}

<div class="account-page-wrapper">
    <article class="account-page">
        <div class="account-page__band"></div>
        <div class="account-page__body">
            @if (!string.IsNullOrEmpty(Model.AvatarUrl))
            {
                <img class="account-page__avatar"
                     src="@Model.AvatarUrl"
                     alt=""
                     width="100"
                     height="100" />
            }

            <h1 class="account-page__name">@Model.DisplayName</h1>

            @if (!string.IsNullOrEmpty(Model.GitHubHandle))
            {
                <p class="account-page__handle">
                    <a href="https://github.com/@Model.GitHubHandle" target="_blank" rel="noopener noreferrer">
                        <partial name="~/Views/Partials/Icons/GitHub.cshtml" />
                        Signed in as @@@Model.GitHubHandle
                    </a>
                </p>
            }

            @if (!string.IsNullOrEmpty(Model.Email))
            {
                <dl class="account-page__details">
                    <dt>Email</dt>
                    <dd>@Model.Email</dd>
                </dl>
            }

            <form method="post" action="/logout" class="account-page__logout">
                @Html.AntiForgeryToken()
                <button type="submit" class="btn is-transparent-blue">Sign out</button>
            </form>
        </div>
    </article>
</div>
