@using UmbracoCommunity.Web.Models.Pages
@using UmbracoCommunity.Web.Models.ViewModels.Blocks.Cards
@inherits UmbracoViewPage<HomePageViewModel>

@{
    Layout = "_Layout.cshtml";
}

<div class="dc-block-list">
    @foreach(var row in Model.BlockContent)
    {
        if (row.HasMultipleBlocks)
        {
            <partial name="@($"~/Views/Partials/BlockRows/{row.Alias}.cshtml")" model="row" />
        } else
        {
            var block = row.Blocks.FirstOrDefault();
            if (block != null)
            {
                <partial name="@($"~/Views/Partials/Blocks/{block.Content.ContentType.Alias}.cshtml")" model="block" />
            }
        }
    }

    <a class="dc-cta-block" href="#" target="#">
        <h2>This is a small call to action</h2>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 44 44" fill="none">
            <circle cx="22" cy="22" r="21" />
            <path d="M13 21.2964H31.5849" />
            <path d="M29.9883 23.8701L24.4951 29.4882" />
            <path d="M23.7979 13.3184L31.6055 21.2963" />
        </svg>
    </a>

    <div class="dc-big-cta-block__content align-center">
        <h2>block.Headline</h2>
        <div>
            <p>block.Text</p>
            <a href="#" class="btn arrow cta is-blue" target="_self" title="#">
                Here is an inline cta
                <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg"><g><path id="Vector" d="M6.41675 6.41663H15.5834V15.5833" stroke="#283A97" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" /><path id="Vector_2" d="M6.41675 15.5833L15.5834 6.41663" stroke="#283A97" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" /></g></svg>
            </a>
        </div>
    </div>

</div>


