@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.MemberLoginLogout>
@using ContentModels = UmbracoCommunity.Web.Models.PublishedModels;
@{
	Layout = null;
}

<!DOCTYPE html>
<html lang="@System.Globalization.CultureInfo.CurrentCulture.Name">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@Model.Name</title>
    <link rel="stylesheet" vite-href="index" asp-add-nonce="true" />
</head>
<body class="document-memberLoginLogout">
    <main id="main-content">
        @await Html.PartialAsync("Members/LoginStatus")
        @await Html.PartialAsync("Members/Login")
    </main>
    <script vite-src="index" vite-client="true" asp-add-nonce="true"></script>
</body>
</html>