@using UmbracoCommunity.Web.Models.Pages.Testing
@inherits UmbracoViewPage<TestHomePageViewModel>

@{
    Layout = "_Layout.cshtml";
}

<h1>Test Home Page!!!</h1>
<p>New community site</p>
@if (Model.MediaItemUrl != null) 
{
    <div>
        <img src="@Model.MediaItemUrl" style="width:200px;" />
    </div>
}