@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockGridItem<QuoteWithAttributionBlock>>

<div class="carousel__item-content">
    <p>"@Model.Content.QuoteText"</p>
    <span>@Model.Content.Attribution</span>
</div>