dc-certified-developers,
dc-scheduled-courses {
  display: block;

  h2 {
    margin-bottom: 0;
  }

  table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    table-layout: fixed;

    th,
    td {
      padding: 10px;
      text-align: left;
    }

    tbody tr {
      background: white;
      border-top: 1px solid #ddd;
    }
  }
}
