@import "../elements/card.css";
@import "../elements/card-set.css";
@import "../elements/pagination.css";
@import "../elements/tag-list.css";
@import "../elements/avatar.css";
@import "../base/media-queries.css";

.dc-block-list {
  gap: var(--unit-md);

  &:not(:first-child) {
    margin-top: var(--unit-xs);
  }

  @media (--md) {
    gap: var(--unit-xl);

    &:not(:first-child) {
      margin-top: var(--unit-md);
    }
  }
}

.dc-text-block:first-child {
  margin-top: 0;
}

.sidebar-card {
  background-color: var(--color-white);
  border-radius: var(--border-radius);
  margin-bottom: 24px;
  padding: 24px;

  h2 {
    align-items: center;
    color: var(--color-black);
    display: flex;
    justify-content: space-between;
    letter-spacing: 2px;
    font-size: 1em;
    position: relative;
    text-transform: uppercase;
    border-bottom: 1px solid var(--color-light);
    margin: 0 0 24px;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.sidebar-list {
  > li + li {
    margin-top: var(--unit-sm);
  }

  a {
    text-decoration: none;
  }
}